<div class="tall wide">
  <center>
    <div class="vert_center wide">
      <h1>Picstagram</h1>
      <form action="<%= session_url %>" method="post">
        <%= auth_token_input %>
          <table class="bottom_pad">
            <tr>
              <td>
                <input type="text"
                        name="user[username]"
                        class="loginusername"
                        placeholder='Username'
                        value="">
              </td>
            </tr>
            <tr>
              <td>
                <div class="bottom_pad">
                  <input type="password"
                         name="user[password]"
                         placeholder='Password'
                         value=""
                         class="bottom_pad">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" value="Sign In!" class="login">
              </td>
            </tr>
          </table>
          <div class="bottom_pad"> </div>
          <div class="top_pad"> </div>
            New around here? &nbsp; <%= link_to "Sign Up!", new_user_url, :class => "under" %>
      </form>
      <%= render "layouts/guest" %>
    </div>
  </center>
</div>
