<div class="tall wide">
<center>
  <div class="vert_center wide">
    <h1>Picstagram</h1>
    <h4>Sign In:</h4>
    <form action="<%= sessions_url %>" method="post">
      <%= auth_token_input %>
      <label>
        <input type="text"
                name="user[username]"
                placeholder='Username'
                value="">
      </label>
      <br></br>
      <label>
        <input type="password"
               name="user[password]"
               placeholder='Password'
               value="">
      </label>
      <br></br>
      <input type="submit" value="Sign In!" class="login">
      <br></br>
      <%= link_to "New around here?  Sign Up!", new_user_url %>
    </form>
  </div>
</center>
</div>
