<div class="tall wide">
  <center>
    <div class="vert_center wide">
      <h1>Picstagram</h1>
      <form action="<%= users_url %>" method="post">
        <%= auth_token_input %>
          <table class="bottom_pad">
            <tr>
              <td>
                <input type="text"
                        name="user[username]"
                        placeholder='Username'
                        value="">
              </td>
            </tr>
            <tr>
              <td>
                <div class="bottom_pad">
                  <input type="password"
                         name="user[password]"
                         placeholder='Password'
                         value=""
                         class="bottom_pad">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" className="blue-button" value="Sign Up!" class="login">
              </td>
            </tr>
          </table>
          <div class="bottom_pad"> </div>
        Already registered? &nbsp; <%= link_to "Sign In!", new_sessions_url, :class => "under" %>
      </form>
    </div>
  </center>
</div>
