<form type="hidden" action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden"
         name="user[username]"
         value="don">
  <input type="hidden"
         name="user[password]"
         value="12345678">
  <div class="guest_div">
    <div class="guest_text">
      Or sign in as a
    </div>
    <div class="right link_to_sign_in">
      <button value="guest!" class="guest">Guest</button>
    </div>
  </div>
</form>
